n8n-workflows/Life Logger AI_ Daily Journal Generator (2).json
{
  "name": "Life Logger AI: Daily Journal Generator",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋",
        "options": {
          "inputPlaceholder": "Type your message here...",
          "showWelcomeScreen": false,
          "subtitle": "This is for demo purposes. Try me out !",
          "title": "Your first AI Agent 🚀",
          "responseMode": "lastNode"
        }
      },
      "id": "d48732f3-8a86-41ff-9ac2-315fc89cc9ea",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Example Chat",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "creator": "Lucas Peyrin",
      "position": [0, 320],
      "webhookId": "e5616171-e3b5-4c39-81d4-67409f9fa60a",
      "typeVersion": 1.1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b550a65-851a-403f-9ed6-a4d5e5563aa3",
              "name": "=id",
              "value": "={{ $('Prepare Photo for AI').item.json.id }}",
              "type": "string"
            },
            {
              "id": "c28b4744-db98-4c34-9a69-4b29e8e98bdc",
              "name": "filename",
              "value": "={{ $json.image_filename }}",
              "type": "string"
            },
            {
              "id": "b08c616b-d9f7-423e-9d18-2f90008a33c5",
              "name": "=description",
              "value": "={{ $json.image_description }}",
              "type": "string"
            },
            {
              "id": "1971eef9-48bc-4e28-90fb-d7a962296fcc",
              "name": "downloadLink",
              "value": "={{ $('Prepare Photo for AI').item.json.webContentLink }}",
              "type": "string"
            },
            {
              "id": "5252645b-45fc-4629-ace4-84b57ac9ec9c",
              "name": "textForEmbedding",
              "value": "={{ $json.text_for_embedding }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1616, 16],
      "id": "8afec4f1-f6f3-4ab6-86dd-2a7ca90c2b63",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=id",
                "value": "={{ $('Edit Fields').item.json.id }}"
              },
              {
                "name": "=name",
                "value": "={{ $('Edit Fields').item.json.filename }}"
              },
              {
                "name": "=downloadLink",
                "value": "={{ $('Edit Fields').item.json.downloadLink }}"
              },
              {
                "name": "=description",
                "value": "={{ $('Edit Fields').item.json.description }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [1872, 320],
      "id": "65dd88c4-f913-41e7-9840-c9a1d1abbbd5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [1824, 672],
      "id": "1b1e983f-ad05-42fc-8003-18e575a11744",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "9IYG0lkPaUq6HiO6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [560, 0],
      "id": "c0b2c229-1afb-4bf0-b36e-3e38a252e711",
      "name": "Split Files"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "64913d5a-16b3-4889-811d-75bcb1d290d5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36409a61-a859-4874-bbd7-1622dec1ae7f",
              "name": "skip",
              "value": 0,
              "type": "number"
            },
            {
              "id": "47425f43-8153-4031-93af-3b67100c0d51",
              "name": "take",
              "value": 1000,
              "type": "number"
            },
            {
              "id": "41b96d8c-f5a5-4aa3-a3ac-b9e5e42db023",
              "name": "all_assets",
              "value": "[]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [192, 0],
      "id": "c4f73199-50ab-4c99-b794-73e6c7cc98aa",
      "name": "Set Pagination Params"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File', ``, 'string') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [1152, 560],
      "id": "d9cdc160-d436-4407-851c-9999366edf54",
      "name": "Download file in Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mt6atyEJse27FUPL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚀 Life Logger AI Setup Guide\n\nThis n8n workflow is a sophisticated RAG system. It automatically transforms your digital footprint—photos, calendar events, weather, and news—into a cohesive, first-person diary entry stored in Google Docs.\n\n**Credentials:** Ensure Google Drive, Google Docs, Google Calendar, Postgres, and Google Gemini (PaLM) APIs are connected.\n\n**Database:** This workflow requires a Postgres database with the pgvector extension enabled to store photo descriptions.\n\n**How it works:** > - The Top Row runs daily to analyze your new photos.\n\nThe Agent combines those photo descriptions with your Calendar and Weather.\n\nThe Final Output is appended to your specified Google Doc.",
        "height": 800,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-656, -96],
      "id": "72735c3e-bcc0-4c73-b4ff-55a3dcfd7f55",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Zone 1: The Image Processing Pipeline\nThis section runs on a schedule to \"digest\" your photos so the AI can \"remember\" them later.",
        "height": 288,
        "width": 2176,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-48, -96],
      "id": "f599ef3b-b777-4307-b019-48de23bc3025",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "mimeType contains 'image/' and trashed = false"
            },
            {
              "name": "fields",
              "value": "=nextPageToken, files(id, name, mimeType, webContentLink, createdTime)"
            },
            {
              "name": "pageSize",
              "value": "1000"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [384, 0],
      "id": "4544faaf-17df-4ffc-8b2d-b5860dca140f",
      "name": "Fetch Daily Photos",
      "notesInFlow": false,
      "credentials": {
        "oAuth2Api": {
          "id": "rOLqsQZpSpMxQ6Tk",
          "name": "Unnamed credential"
        },
        "googleDriveOAuth2Api": {
          "id": "mt6atyEJse27FUPL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 8,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [768, 0],
      "id": "63f92081-da0b-42cd-9662-7cc790f7150f",
      "name": "Process 8 at a Time"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "image"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1008, 16],
      "id": "dc734258-ba8b-46d7-b695-29557f8cadf3",
      "name": "Prepare Photo for AI",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mt6atyEJse27FUPL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=ramdonly choose one image then analyze the image , Include locations, activities, emotions, and weather,\n\nAnalyze the image in depth , then you imagine you are the user. write a single, continuous paragraph, Write in first person, conversational tone, 200-300 words, include locations, activities, emotions, and weather. \n\nOutput Format: Write everything as one fluid, cohesive paragraph with no bullet points or line breaks.\n\n\nYou output must include Title, Date, Content three parts.\n\n** Title: ** this daily title\n** Date: **today date\n** Content: ** rite a single, continuous paragraph, Write in first person, conversational tone, 200-300 words, include locations, activities, emotions, and weather. \n\nEXAMPLE OUTPUT:\n\n\"\nTitle: laughed together at a restaurant table\nDate: {{$now }}\nContent: Today's morning is so cold, i laughed together at a restaurant table with pizza and wine with my friend, i really enjoy this moment. \"",
        "inputType": "binary",
        "binaryPropertyName": "image",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [1200, 16],
      "id": "53efbbde-7ae0-428c-9e4e-0bd9c822ca52",
      "name": "Describe Photo Content",
      "credentials": {
        "googlePalmApi": {
          "id": "9IYG0lkPaUq6HiO6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n    \n    // 1. 變數初始化：使用 let 確保之後可以安全地處理空值，並從正確路徑獲取文本。\n    // 使用可選鏈 (?.): 如果路徑中的任一步是 undefined，則直接賦值為空字串 ('')\n    let fullText = item.json.content?.parts?.[0]?.text || ''; \n\n    // 檢查 fullText 是否存在且是字串\n    if (typeof fullText !== 'string' || fullText.length === 0) {\n        // 如果文字不存在，則設置預設值，避免錯誤\n        item.json.image_description = 'No analysis text found.';\n        item.json.image_filename = 'N/A';\n        item.json.text_for_embedding = 'No text.';\n        continue; // 跳到下一個項目\n    }\n\n    // 2. 文本分割邏輯 (這部分程式碼不再需要重複宣告)\n    const filenameMatch = fullText.match(/filename:\\s*(.*)/);\n\n    const filenameIndex = fullText.indexOf('filename:');\n    \n    let description = ''; // 新的變數，不會衝突\n    let filename = '';    // 新的變數，不會衝突\n\n    if (filenameIndex !== -1) {\n        description = fullText.substring(0, filenameIndex).trim();\n    } else {\n        description = fullText.trim();\n    }\n\n    if (filenameMatch && filenameMatch[1]) {\n        filename = filenameMatch[1].trim();\n    }\n\n    // 3. 將分離的數據存入新的 JSON 屬性\n    item.json.image_description = description;\n    item.json.image_filename = filename;\n    item.json.text_for_embedding = description; \n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1408, 16],
      "id": "64bdb8a0-c64c-43f3-8021-4bb90e9a9b8f",
      "name": "Format AI Description"
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [1824, 16],
      "id": "5c0d9d38-751b-4ae6-a39e-ff282c2af02b",
      "name": "Save to Long-Term Memory",
      "credentials": {
        "postgres": {
          "id": "kAjklsXYzKvyJILD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a writing Assistant for write my personal diary. You can answer user questions and fulfill their requests. You are conversational.\n\nRefer to the image desciption I gave to you in Postgres PGVector Store  . You can randomly choose 1 image inside the image. Then you need to analyze the image, Include locations, activities, emotions, and weather, and finally help me write today's visual diary. Include locations, activities, emotions, and weather. Write in first person, conversational tone, 200-300 words.\n\ndont descible too much of the weather or location, it is a daily , you should write more about what happenend and the emotion.\n\ndont output any word like \"hello Daily\". \n\nToday date is {{ $now.toFormat('LLLL dd, yyyy') }}. \n\nOutput Format: Write everything as one fluid, cohesive paragraph with no bullet points or line breaks.\n\n\nYou output must include Title, Date, Content three parts.\n\n**Title:** this daily title.\n**Date:**{{ $now.toFormat('LLLL dd, yyyy') }}.\n**Content:** rite a single, continuous paragraph, Write in first person, conversational tone, 200-300 words, include locations, activities, emotions, and weather. Write in first person, conversational tone, 200-300 words.\n\n\nYou have five primary tool:\n\n1. Today's weather you can find on this open-meteo.com api (link: https://api.open-meteo.com/v1/forecast).\n\n2. Google Calendar for you  check Today's activities.\n\n3. Google Drive for you to download the image (if you need)\n\n4. getting news in https://feeds.bbci.co.uk/news/world/rss.xml  (if you need)\n\n5. Postgres PGVector Store  for you to find image content.\n\nwhen you ready to output , upload your output to my google doc: https://docs.google.com/document/d/1VS9Jth0OqbLsSIL-6kz3brkw7EOi2LKTgRpjIemn2QM/edit?tab=t.0\n",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [208, 320],
      "id": "2b90823c-c05f-4f6d-a1cc-9c733c19bab9",
      "name": "Journal Writer Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [208, 576],
      "id": "7a6ec4fb-c03d-46e6-bcbb-1e7f25cde865",
      "name": "Agent Logic (Gemini)",
      "credentials": {
        "googlePalmApi": {
          "id": "9IYG0lkPaUq6HiO6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "memory"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [304, 576],
      "id": "3baf05a3-bf29-4193-aafa-5a6927939257",
      "name": "Conversation Memory1",
      "credentials": {
        "postgres": {
          "id": "kAjklsXYzKvyJILD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this knowledge base to answer questions from the user",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [416, 576],
      "id": "bfd9953c-eed2-47ae-990b-c12698c4e905",
      "name": "Photo Memory Tool",
      "credentials": {
        "postgres": {
          "id": "kAjklsXYzKvyJILD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get weather forecast anywhere, anytime. You can make requests by assuming most information, the only thing you need is the location (use the city name to infer lat and long automatically) and time period (assume today if not specified)",
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Latitude of the location, e.g. 45.75 for Lyon. Do not ask the user just infer it automatically.`, 'string') }}"
            },
            {
              "name": "longitude",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Longitude of the location, e.g. 4.85 for Lyon. Do not ask the user just infer it automatically.`, 'string') }}"
            },
            {
              "name": "current",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Comma-separated list of current weather variables (no whitespace).\n\nExample: temperature_2m,windspeed_10m,rain.\n\nOptions: temperature_2m,relative_humidity_2m,apparent_temperature,is_day,precipitation,rain,showers,snowfall,weathercode,cloudcover_total,pressure_msl,surface_pressure,windspeed_10m,winddirection_10m,windgusts_10m.`, 'string') }}"
            },
            {
              "name": "hourly",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Comma-separated list of hourly weather variables (no whitespace). Hourly is only useful to get one day's information. For weakly overview please use daily.\n\nExample: temperature_2m,precipitation.\n\nOptions: temperature_2m,relative_humidity_2m,dewpoint_2m,apparent_temperature,precipitation,rain,showers,snowfall,snow_depth,pressure_msl,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,windgusts_10m,visibility,is_day,sunshine_duration,soil_temperature,soil_moisture,PM10,PM2_5,carbon_monoxide,ozone,us_aqi,UV_index.`, 'string') }}"
            },
            {
              "name": "daily",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Comma-separated list of daily weather variables (no whitespace).\n\nExample: temperature_2m_max,precipitation_sum.\n\nOptions: weathercode,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,precipitation_sum,rain_sum,showers_sum,snowfall_sum,precipitation_hours,sunrise,sunset,daylight_duration,sunshine_duration,pressure_msl_max,pressure_msl_min,surface_pressure_max,surface_pressure_min,windgusts_10m_max,windspeed_10m_max,winddirection_10m_dominant,shortwave_radiation_sum.`, 'string') }}"
            },
            {
              "name": "start_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `Start date in YYYY-MM-DD format. Example: 2025-07-15`, 'string') }}"
            },
            {
              "name": "end_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `End date in YYYY-MM-DD format. Must be after start_date. Example: 2025-07-18`, 'string') }}"
            },
            {
              "name": "temperature_unit",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `Unit for temperature. Options: celsius (default), fahrenheit.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e798edd6-7dd9-4c61-abd2-8da27ae483b9",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Weather Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "creator": "Lucas Peyrin",
      "position": [720, 560],
      "notesInFlow": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "toolDescription": "Gets the latest blog posts about any rss feed.",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `Use one of:\n- https://feeds.bbci.co.uk/news/world/rss.xml (BBC World – global headlines)\n- https://www.aljazeera.com/xml/rss/all.xml (Al Jazeera English – in‑depth global coverage)\n- http://rss.cnn.com/rss/edition_world.rss (CNN World – breaking news worldwide)\n- https://techcrunch.com/feed/ (TechCrunch – global tech & startup news)\n- http://news.ycombinator.com/rss (Hacker News – tech community headlines)\n- https://n8n.io/blog/rss (n8n Blog – updates & tutorials)\n- https://www.bonappetit.com/feed/recipes-rss-feed/rss (Bon Appétit – recent recipes list)\n- https://www.endsreport.com/rss/news-and-analysis (ENDS Report – environmental law & policy news)\n- https://medlineplus.gov/groupfeeds/new.xml (MedlinePlus – health topics & wellness updates)`, 'string') }}",
        "options": {}
      },
      "id": "bd3fc6dc-b2b1-47f2-987c-20700093ee3f",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Global News Tool",
      "type": "n8n-nodes-base.rssFeedReadTool",
      "creator": "Lucas Peyrin",
      "position": [848, 560],
      "typeVersion": 1.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "kelly7y178@gmail.com",
          "mode": "list",
          "cachedResultName": "kelly7y178@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [992, 560],
      "id": "33b2e5b9-515b-488e-b8bc-029bcb347ab7",
      "name": "Calendar Tool",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "qzbI54TCwV5p4VFV",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1VS9Jth0OqbLsSIL-6kz3brkw7EOi2LKTgRpjIemn2QM/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [1296, 560],
      "id": "c680bb41-a8e6-47c4-a87e-9bc275e5af96",
      "name": "Google Docs Tool",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "QvU4uMz9cR1xxevv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Zone 2: The AI Agent Core\nThis is the \"brain\" of the operation that decides how to write your journal.",
        "height": 480,
        "width": 1504,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-48, 224],
      "id": "89a41128-05d4-41c1-8685-e863a62e80af",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Example Chat": {
      "main": [
        [
          {
            "node": "Journal Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Save to Long-Term Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Save to Long-Term Memory",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Save to Long-Term Memory",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Photo Memory Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Split Files": {
      "main": [
        [
          {
            "node": "Process 8 at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Pagination Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Pagination Params": {
      "main": [
        [
          {
            "node": "Fetch Daily Photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "Journal Writer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Daily Photos": {
      "main": [
        [
          {
            "node": "Split Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process 8 at a Time": {
      "main": [
        [],
        [
          {
            "node": "Prepare Photo for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Photo for AI": {
      "main": [
        [
          {
            "node": "Describe Photo Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describe Photo Content": {
      "main": [
        [
          {
            "node": "Format AI Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format AI Description": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Logic (Gemini)": {
      "ai_languageModel": [
        [
          {
            "node": "Journal Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory1": {
      "ai_memory": [
        [
          {
            "node": "Journal Writer Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Photo Memory Tool": {
      "ai_tool": [
        [
          {
            "node": "Journal Writer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Weather Tool": {
      "ai_tool": [
        [
          {
            "node": "Journal Writer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Global News Tool": {
      "ai_tool": [
        [
          {
            "node": "Journal Writer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Tool": {
      "ai_tool": [
        [
          {
            "node": "Journal Writer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs Tool": {
      "ai_tool": [
        [
          {
            "node": "Journal Writer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83dfae43-2327-4f14-9b94-1bf1e029cdde",
  "meta": {
    "instanceId": "70cde6912cea58aaa19ec5aa40b4ca0767ac5a177606bc4aaa515a3d351b9b12"
  },
  "id": "jfUne5QwTl6UbIZA",
  "tags": []
}
